# Chapter 5
Loops

---

## Loops in Python
---
Loops are used to repeat instructions.
- while Loops

In [1]:
# while True :
#     print("Hello")

# # We can write Hello Unlimeted times using while loop 
# We can run this code

In [2]:
# Print Hello five times

count = 1
while count <= 5 : 
    print("Hello")
    count += 1

Hello
Hello
Hello
Hello
Hello

In [3]:
# Print Hello 5 times, and Print This is my code 5 times 

count = 1
while count <= 5 : 
    print("Hello")
    count += 1

i = 1
while i <= 5:
    print("This is my code")
    i+=1

Hello
Hello
Hello
Hello
Hello
This is my code
This is my code
This is my code
This is my code
This is my code

In [4]:
# print count 1 to 10

i = 1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [5]:
# I want to print numbers from 1 to 5

i = 1
while i <= 5:
    print(i)
    i += 1

print("Loop ended")

1
2
3
4
5
Loop ended

In [6]:
# Print Reverse number from 1 to 5

i = 5
while i >= 1:
    print(i)
    i -= 1
print("Loop ended")

5
4
3
2
1
Loop ended

In [7]:
# # This loop very dengerus in our programing

# i = 5 
# while i <= 6:
#     print(i)
#     i -= 1
# print("This loop no end")

## Let's Practice
---
1. Print numbers from 1 to 100.
2. Print numbers from 100 to 1.
3. Print the multiplication table of a number n.
4. Print the elements of following list using a loop:
- [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
5. Search for a number x in this tuple using loop:
- (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [55]:
# 1. Print numbers from 1 to 10.

i = 1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [56]:
# 2. Print numbers from 10 to 1 Reverse value.

i = 10
while i >= 1: #stoping value
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [21]:
# 3. Print the multiplication table of a number n.

n = int(input("Enter your table number : "))
i = 1
while i <= 10:
    print(n*i)
    i += 1

20
40
60
80
100
120
140
160
180
200

In [26]:
# 4. Print the elements of following list using a loop:
# - [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

idx = 0
while idx < len(nums):
    print(nums[idx])
    idx += 1

1
4
9
16
25
36
49
64
81
100

In [27]:
heroes = ["ironman", "thor", "superman", "batman", "groot"]

idx = 0
while idx < len(heroes):
    print(heroes[idx])
    idx += 1

ironman
thor
superman
batman
groot

In [33]:
# 5. Search for a number x in this tuple using loop:
# - (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 36)

x = int(input("Enter your number"))

i = 0 # initialization
while i < len(nums):
    if(nums[i] == x):
        print("Found at index", i)
    else:
        print("Finding..")
    i += 1

Finding..
Finding..
Finding..
Finding..
Finding..
Found at index 5
Finding..
Finding..
Finding..
Finding..
Found at index 10

## Break & Continue
---
- **Break** : used to terminate the loop when encountered.
- **Countinue** : terminates executinon in the current iteration & continues execution of the loop with the next iteration.

In [34]:
i = 1
while i <= 5:
    print(i)
    if(i == 3):
        break
    i += 1
print ("End of loop")

1
2
3
End of loop

In [38]:
# Using break

nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 36)

x = int(input("Enter your number"))

i = 0 # initialization
while i < len(nums):
    if(nums[i] == x):
        print("Found at index", i)
        break
    else:
        print("Finding..")
    i += 1
print("End of loop")

Finding..
Finding..
Finding..
Finding..
Finding..
Found at index 5
End of loop

In [44]:
# Using continue

i = 0
while i <= 5:
    if(i == 3):
        i += 1
        continue
    print(i)
    i += 1

0
1
2
4
5

In [47]:
# Using continue
# print 1 to 20 even numbers

i = 0
while i <= 20:
    if(i%2 == 0):
        i += 1
        continue
    print(i)
    i += 1

1
3
5
7
9
11
13
15
17
19

In [49]:
# Using continue
# print 1 to 20 odd numbers

i = 0
while i <= 20:
    if(i%2 != 0):
        i += 1
        continue
    print(i)
    i += 1

0
2
4
6
8
10
12
14
16
18
20

## Loops in Python
---
Loops are used for sequentiol traversal. For traversing list, string, tuple etc.

In [ ]:
# for Loops                                  list = [1, 2, 3]

# for el in list:                            for el in list:
#     #some work                                 print(el)


# for Loop with else                        for el in list:
#     for el in list:                           print(el)
#     #some work                            else:
#                                                print("END")
# else:
#      #work when loop ends

In [58]:
nums = [1, 2, 3, 4, 5]

for val in nums:
    print(val)

1
2
3
4
5

In [61]:
# fo loop using in list

veggies = ["Patato", "Brijal", "Ladyfinger", "Cucumber"]

for val in veggies:
    print(val)

Patato
Brijal
Ladyfinger
Cucumber

In [62]:
# for loop using in tuple

tup = (1, 2, 3, 4, 2, 8, 9)    

for num in tup:
    print(num)

1
2
3
4
2
8
9

In [64]:
str = "This is Python"

for char in str:
    print(char)

T
h
i
s

i
s

P
y
t
h
o
n

In [65]:
str = "This is Python"

for char in str:
    print(char)
else:
    print("End")

T
h
i
s

i
s

P
y
t
h
o
n
End

In [72]:
str = "This is Python"

for char in str:
    if(char == 's'):
        print("s found")
        break
    print(char)

print("End")

T
h
i
s found
End

## Let's Practice
---
**Using for**
1. Print the elements of the following list using a loop:
- [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
2. Search for a number x in this tuple using loop:
- (1, 4, 9, 16, 25, 36, 49, 65, 81, 100)

In [73]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

for el in nums:
    print(el)

1
4
9
16
25
36
49
64
81
100

In [81]:
# 1. Print the elements of the following list using a loop:
# (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 49)
x = 49

idx = 0
for el in nums:
    if(el == x):
       print("Number found at index", idx)
       break
    idx += 1

Number found at index 6

## range()
---
Range functtion returns a sequance pf numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.
- range( start?, stop, step?)

In [2]:
# for el in range(5):
#     print(el)

# for el in range(1, 5):
#     print(el)

# for el in range(1, 5, 2):
#     print(el)

In [8]:
seq = range(10)

for i in seq:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(10): # range(stop)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(2, 10): # range(start, stop)
    print(i)

2
3
4
5
6
7
8
9

In [10]:
for i in range(2, 10, 2): # range(start, stop, step)
    print(i)

2
4
6
8

In [ ]:
# print 1 to 20 even numbers

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

In [15]:
# print 1 to 10 odd numbers

for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19