# Chaptar 3
**List & Tuple**

---

## List in Python
---
- A built-in data type store set of values
- It can store elements of differrent type (integer, float, string, etc.)

In [ ]:
marks = [87, 64, 33, 95, 76]     # List of student marks
student = ["Karan", 85, "Delhi"] # Student details in a list

student[0] = "Harsh"             # Allowed in Python
len(student)                     # Length of the list

3

In [ ]:
marks = [87.4, 64.5, 33.2, 95.0, 76.8]  # List of student marks as float
print(marks)                            # Print the list
print(type(marks))                      # Type of first element in the list
print(marks[0])                         # First element of the list
print(marks[-1])                        # Last element of the list
print(marks[1:4])                       # Slicing the list
marks[2] = 34.5                         # Modifying an element in the list
print(marks)                            # Print the modified list

[87.4, 64.5, 33.2, 95.0, 76.8]
<class 'list'>
87.4
76.8
[64.5, 33.2, 95.0]
[87.4, 64.5, 34.5, 95.0, 76.8]

In [ ]:
student = ["Shivam", 92.4, 18, "Bangalore"]  # Student details in a list
print(student)                               # Print the student details

['Shivam', 92.4, 18, 'Bangalore']

In [ ]:
# string --> immutable
# list   --> mutable

In [ ]:
student = ["Shivam", 92.4, 18, "Bangalore"]  # Student details in a list
print(student[0])                            # Accessing the name
student[0] = "Rahul"                         # Modifying the name
print(student)                               # Print the modified student details

Shivam
['Rahul', 92.4, 18, 'Bangalore']

## List Slicing
---
Similer to Strings Slicing

- list_name[ starting_idx : ending_idx ]  #ending idx is not include
- marks = [87, 64, 33, 95, 76]
- marks[1 : 4] is [64, 33, 95]
- marks[ : 4 ]is name as marks[0 : 4]
- marks[ 1 : ] is same as marks[ 1 : len(marks) ]
- marks[ -3 : -1 ] is [33, 95]

In [ ]:
marks = [87, 64, 33, 95, 76] # List of student marks
print(marks[1:4])            # Slicing the list to get elements from index 1 to 3
print(marks[1:])             # Slicing the list to get elements from index 1 to end
print(marks[-3:-1])          # Slicing the list to get elements from index -3 to -2

[64, 33, 95]
[64, 33, 95, 76]
[33, 95]

## List Methods
---
- list = [2, 1, 3]
- list.append(4)               #adds one element at the end [2, 1, 3, 4]
- list.sort()                  #sorts in ascending order [1, 2, 3] 
- list.sort( reverse=True)     #sorts in descending order [3, 2, 1]
- list.insert(idx, el)         #insert element at index
- list.remove(1)               #removes first occurrence of element [2, 3, 1]
- list.pop(idx)                #remove element at inx

In [ ]:
# list.append(value)      # Adds value to the end of the list
# This is mutable operation

marks = [87, 64, 33, 95, 76]  # List of student marks
marks.append(88)              # Append 88 to the list
print(marks)                  # Print the updated list

[87, 64, 33, 95, 76, 88]

In [ ]:
# list.sort() Sorts the list in ascending order

marks = [87, 64, 33, 95, 76]  # List of student marks
marks.sort()                  # Sort the list
print(marks)                  # Print the sorted list

[33, 64, 76, 87, 95]

In [ ]:
list = [87, 64, 33, 95, 76, 85]
print(list.sort())
print(list)

None
[33, 64, 76, 85, 87, 95]

In [1]:
list = [87, 64, 33, 95, 76, 85]
print(list.append(42))
print(list.sort())
print(list)

None
None
[33, 42, 64, 76, 85, 87, 95]

In [2]:
# list.sort(reverse=True) Sorts the list in descending order

marks = [87, 64, 33, 95, 76]  # List of student marks
marks.sort(reverse=True)      # Sort the list in descending order
print(marks)                  # Print the sorted list

[95, 87, 76, 64, 33]

In [7]:
# list.sort Sorts the list in descending order

marks = ["Banana", "Apple", "Cherry", "Date", "Elderberry"]  # List of student marks
print(marks.sort())                                          # Sort the list in descending order
print(marks)                                                 # Print the sorted list

None
['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry']

In [10]:
# list.sort(reverse=True) Sorts the list in descending order

marks = ['a', 'g', 'e', 'c', 'f', 'b', 'h', 'd']  # List of student marks
print(marks.sort())                               # Sort the list in descending order
print(marks)                                      # Print the sorted list

None
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [9]:
# list.reverse() Reverses the list

marks = [87, 64, 33, 95, 76]  # List of student marks
marks.reverse()               # Reverse the list
print(marks)                  # Print the reversed list

[76, 95, 33, 64, 87]

In [12]:
# list.reverse() Reverses the list

marks = ['a', 'g', 'e', 'c', 'f', 'b', 'h', 'd']  # List of student marks
marks.reverse()                                   # Reverse the list
print(marks)                                      # Print the reversed list

['d', 'h', 'b', 'f', 'c', 'e', 'g', 'a']

In [13]:
# list.insert(index, value) Inserts value at the specified index

list = [87, 64, 33, 95, 76]      # List
list.insert(2, 42)               # Insert 42 at index 2
print(list)                      # Print the updated list

[87, 64, 42, 33, 95, 76]

In [ ]:
# list.pop(index) Removes and returns the element at the specified index

list = [2, 1, 3, 1]           # List
list.pop(2)                   # Remove and return element at index 2
print(list)                   # Print the updated list

[2, 1, 1]

## Tuples in Python
---
A built-in data type that lets us create immutable sequences of values.
- tup = (87, 64, 33, 95, 76)   #tup[0], tup[1]..
- tup[0] = 43                  #NOT allowed in Python
- tup1 = ()
- tup2 = (1,)
- tup3 = (1, 2, 3)

In [21]:
# tuple creation and usage

tup = (1, 2, 3, 4, 5)        # Creating a tuple
print(tup)                   # Print the tuple
print(type(tup))             # Type of the tuple

(1, 2, 3, 4, 5)
<class 'tuple'>

In [26]:
tup = (1, 2, 3, 4, 5,)        # Creating a tuple
print(tup[0])                # Accessing first element
print(tup[1])                # Accessing second element
# tup[0] = 5                 # This will raise an error because tuples are immutable

1
2

In [23]:
# empty tuple creation

tup = ()                 # Creating an empty tuple
print(tup)               # Print the empty tuple
print(type(tup))         # Type of the empty tuple

()
<class 'tuple'>

In [25]:
tup = (1,)               # Creating a single-element tuple and coma is compulsory in single-element tuples
print(tup)               # Print the single-element tuple
print(type(tup))         # Type of the single-element tuple

(1,)
<class 'tuple'>

In [28]:
# Slicing in tuples

tup = (1, 2, 3, 4, 5,)
print(tup[1:4])          # Slicing from index 1 to 4
print(tup[:3])           # Slicing from beginning to index 3
print(tup[2:])           # Slicing from index 2 to end

(2, 3, 4)
(1, 2, 3)
(3, 4, 5)